@* Views/Shared/PartialsLayout/_Footer.cshtml *@
<footer class="border-top footer mt-4 py-3" style="color: var(--nav-fg);">
    <div class="container text-center">
        &copy; 2025 - TaskManagerApp
    </div>
</footer>
